.header {
    &__container {
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 147px auto;
        padding: 22px 0 9px;
        align-items: center;
    }
    &__logo-wrap {
    }
    &__logo {
        max-width: 100%;
    }
    &__burger {
        height: 40px;
        width: 40px;
        background: url(../images/burger.svg) no-repeat center;
        // display: none;
        margin-left: auto;
        display: block;
        * {
            pointer-events: none;
        }
    }
    .burger-btn {
    }
    .burger-btn__item {
    }

    @media (max-width: 576px) {
        &__wrapper {
            grid-template-columns: 135px auto;
            grid-template-rows: auto auto;
            padding: 8px 0 0px;
        }
    }
}
